html {
  -webkit-font-smoothing: antialiased;
  background: no-repeat fixed url(/assets/bg1.svg);
  background-size: cover;
}

@keyframes timangi {
  0% {
    transform: translateY(0vh);
  }
  75% {
    transform: translateY(95vh);
  }
  100% {
    transform: translateY(100vh);
  }
}
